{% extends "base.html.twig" %}
{% block body %}


<h1 class="text-center">Location Voiture</h1>
<section class="text-center">
<img src="{{('media/mercedes.jpg')}} " alt="">

</section>


{% endblock %}